      <!-- Write publication year from publication date, if it exists -->
      {% if publication.date %}({{ publication.date | date: "%Y"}}).{% endif %}
      <!-- Write publication title if it exists, make it a link to the document if publication.document exists -->
      {% if publication.document %}<a href="{{ publication.document }}" class="document">{% endif %}{{ publication.title }}.{% if publication.document %}</a>{% endif %}
      <!-- How to handle when publication is chapter in book -->
      In <i>{{ publication.volume }}</i>.
      <!-- If publication has editors, list them, if not, assume its not inbook, and do normal publication stuff -->
      {% if publication.editors %}{{ publication.editors }} (Eds.).{% endif %}
      {% if publication.series %}{{ publication.series }}.{% endif %}
      {% if publication.publisher %}{{ publication.city }}: {{ publication.publisher }}{% endif %}{% if publication.pages %}, pp. {{ publication.pages }}{% endif %}.<br>
