<div class="subcontainer">
  <nav>
    <div class="navbar">
      <div class="navhome">
        <ul>
          <li><a href="/">{{ site.profile.name }}</a></li>
        </ul>
      </div>
      <ul>
      {% for item in site.navigation %}
        <li><a href="{{ item.link }}">{{ item.name }}</a><li>
      {% endfor %}
      </ul>
    </div>
  </nav>
</div>

<header>
  <div class="headpic">
    <div class="subcontainer">
      <div class="headtext">
        {{ page.title | capitalize}}
      </div>
    </div>
    {% if page.credit %}
    <div class="headcaption">
      Photo credit: {{ page.credit }}
    </div>
    {% endif %}
  </div>
  {% unless site.home.breadcrumbs == false %}
      <div class="subcontainer">
        {% include breadcrumbs.html %}
      </div>
  {% endunless %}
</header>
