{% assign profile = site.profile %}

<profile>
  <div class="card">
    {% unless site.home.email_button == false %}
      <div class="tooltip">
        <button onclick="copiedEmail()" onmouseout="copyEmail()"> <span class="tooltiptext" id="myTooltip">Click to copy email</span> {{ profile.email }} α.τ. {{ profile.email_domain }} </button>
      </div>
    {% endunless %}
    <img src="assets/img/profile.jpg" alt="{{ profile.name }}" style="width:100%">
    <h3>{{ profile.name }}</h3><br>
    {% for item in profile.degrees %} {% if site.profile.postnomials == true %}{{ item.postnomial }}{% endif %}{% endfor %}
    <p class="title">{{ profile.position }}</p>
    {% if site.home.email == true %}<p>{{ profile.email }}@{{ profile.email_domain }}</p>{% endif %}
    {% if site.home.email_alt == true %}<p>{{ profile.email_alt }}@{{ profile.email_altdomain }}</p>{% endif %}

    <p>
      {{ profile.department }}<br />
      {{ profile.university }}<br />
      {{ profile.street }}<br />
      {{ profile.address }}
    </p>
    <div style="margin: 24px 0;">
      {% for item in site.social %}
        {% assign icon = item %}
        {% for item in site.data.socials %}
          {% assign social = item %}
          {% if social.name == icon.name %}
            {% if social.type == 'ai' %}
              <a class="{{ social.name }}" href="{{ icon.link }}"><i class="ai ai-{{ social.name }}{% if icon.square == true %}-square{% endif %}"></i></a>
            {% endif %}
            {% if social.type == 'fab' %}
              <a class="{{ social.name }}" href="{{ icon.link }}"><i class="fab fa-{{ social.name }}{% if icon.square == true %}{% if social.square == true %}-square{% endif %}{% endif %}"></i></a>
            {% endif %}
          {% endif %}
        {% endfor %}
      {% endfor %}
    </div>
  </div>
</profile>
