<!-- Make publication type lowercase -->
{% assign customtype = publication.type | downcase %}
{% include pub_cite_top.html %}
      <!-- Include file that lists authors -->
      {% include pub_cite_authors.html %}
      <!-- Each Custom Type Must Be Included with an if statement as follows (always use lowercase for the type) -->
      <!-- Here is 'Book Chapters' -->
      {% if customtype == "book chapter" %}
        {% include custom_cite_volume.html %}
      {% endif %}
      <!-- Book -->
      {% if customtype == "book" %}
        {% include custom_cite_book.html %}
      {% endif %}
      <!-- Include file that defines how links are displayed -->
      {% include pub_cite_links.html %}
{% include pub_cite_bottom.html %}

<!-- When you are done in this document, be sure to create an html file like custom_pub_template.html for each custom type -->
