<!-- Make publication type lowercase -->
{% assign customtype = publication.type | downcase %}
{% include pub_cite_top.html %}
      {% if customtype == "template" %}
        {% include custom_authors_template.html %}
        {% include custom_cite_template.html %}
      {% endif %}
      <!-- Include file that defines how links are displayed -->
      {% include pub_cite_links.html %}
{% include pub_cite_bottom.html %}

<!-- When you are done in this document, be sure to create an html file like custom_pub_template.html for each custom type -->
