<!-- Layout to display publications/research -->
<!-- Sort publications by date -->
{% assign pubs = (site.publications | sort: 'date') | reverse %}
{% if site.home.recent_work_date %}
  {% assign oldestDate = site.home.recent_work_date | date: '%Y-%m-%d' %}
  {% assign i = 0 %}
  {% for publication in pubs %}
    {% assign pubdate = publication.date | date: '%Y-%m-%d' %}
    {% if pubdate > oldestDate %}
      {% assign i = i | plus:1 %}
    {% endif %}
  {% endfor %}
{% endif %}

{% if site.home.recent_work_number %} {% assign i = site.home.recent_work_number %} {% endif %}

{% capture Types %}
    {% for publication in pubs limit: i %}
        {{ publication.type }},
    {% endfor %}
{% endcapture %}
{% assign filteredtypes = (Types | split: ",") | uniq %}

{% for item in site.publicationtype %}
  {% assign pubtype = item.type | slugify: "latin" %}
  {% for filteredtype in filteredtypes | slugify: "latin" %}
    {% assign filtype = filteredtype | slugify: "latin" %}
    {% if pubtype == filtype %}
      <h5>{{ item.type }}{% unless item.singular == true %}s{% endunless %}</h4>
      <hr/>
      {% for publication in pubs limit: i %}
        {% assign type = publication.type | slugify: "latin" %}
        {% if type == pubtype %}
          {% if item.custom == true %}
            {% if item.author == true %}
              <!-- CUSTOM AUTHOR LISTING UNTESTED -->
              {% include pub_cite_custom_author.html %}
            {% else %}
              {% include pub_cite_custom.html %}
            {% endif %}
          {% else %}
            <!-- Otherwise just use the default -->
            {% include pub_cite.html %}
          {% endif %}
        {% endif %}
      {% endfor %}
    {% endif %}
  {% endfor %}
{% endfor %}

