---
layout: default
---
<div class="row">
  <div class="nine columns">
    <h4>Blog Archive</h4>
    <hr />
    <table>
      {% for post in site.posts %}
        <tr>
          <td>{{ post.date | date: "%B %e, %Y" }}</td>
          <td><a href="{{ post.url }}">{{ post.long }}</a></td>
          <td>{% for category in post.categories %}<a href="{{site.baseurl}}/blog/categories/#{{ category|slugize }}">{{ category }}</a>{% unless forloop.last %}, {% endunless %}{% endfor %}</td>
        </tr>
      {% endfor %}
    </table>
  </div>

  <div class="three columns">
    <h4>Categories</h4>
      {% for category in site.categories %}
        <a href="{{site.baseurl}}/blog/categories/#{{ category[0] | slugify }}">{{ category[0] }}</a><br>
      {% endfor %}
    <h4>Tags</h4>
      {% for tag in site.tags %}
        <a href="{{site.baseurl}}/blog/tags/#{{ tag[0] | slugify }}">{{ tag[0] }}</a><br>
      {% endfor %}
  </div>
</div>
