---
layout: default
---

<div class="row">
  <div class="four columns">
    {% unless site.home.profile == false %}{% include profile.html %}{% endunless %}
  </div>

  <div class="eight columns">

    {% unless site.home.bio == false %}
      {{ content }}
    {% endunless %}
    {% unless site.home.degrees == false %}
      <h4>Education</h4>
      {% include degrees.html %}
    {% endunless %}
    {% unless site.home.recent_work == false %}
      <h4>Recent Work</h4>
      {% include recent_work.html %}
    {% endunless %}

  </div>
</div>

<script src="assets/scripts/copy.js"></script>
