---
layout: default
---
<div class="row">
  <div class="two columns">
    <h5>Links</h5>
    {% if page.document %}<span class="download"><a href="{{ page.document }}"><b>Download<i class="{{ pages.download_icon | default: site.data.defaults.design.pages.year }}"></i></b></a></span> {% endif %}
    {% for item in page.links %} <a href="{{ item.url }}">{{ item.title }}</a><br>{% endfor %}
    {% unless page.media == false %}
    <h5>Media</h5>
    {% for item in site.data.media %}
      {% if item.shortname == page.shortname %}<a href="{{ item.link }}">{{ item.publication }}</a><br>{% endif %}
    {% endfor %}
    {% endunless %}
  </div>

  <div class="ten columns">
    <h5>{{ page.title }}</h5>
    <hr><br>
    <b>by:</b> {{ page.authors }} <br>
    {{ page.year }}, {{ page.journal }}, {{ page.publisher }}, {{ page.issue }}.<br>
    {% if page.doi %}<a class="doi" href="https://doi.org/{{ page.doi }}"><font size="5em"><i class="ai ai-doi"></i></font></a>{{ page.doi }}<br>{% endif %}
    <br><b>Abstract:</b> {{ page.abstract }}<br><br>
    {{ content }}
    {% if site.share.page == true %}{% include share.html %}{% endif%}
  </div>
</div>
